@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');



div :id {
  width: 100px;
  height: 100px;
 display: inline-block;

 }
 
 
 
 
 .container-a{
  background-color: rgb(255, 0, 0);
 
 
 }
 
 
 .container-b{
 background-color: rgb(0, 42, 255);
 

 }

 .nome{

  font-family: 'Archivo Black', sans-serif; 


 }

.main{
  display: inline-block;
  width: 99%;
  font-size: 40px;
  color:#3D1501 ;
  text-align: center;
  margin-left: 1%;
}


h1 {
  font-family: "Contrail One", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  

}

h2 {

  font-family: "DM Sans", sans-serif;
  font-weight: weight;
  font-style: normal;
  margin-bottom: 70px;
   
}


h3 {

  color: #000000cc;
  margin-bottom: 50px;
  margin-left: 8%;
  width: 85%;
  font-size: 21px;
  font-family: "DM Sans", sans-serif;
  font-weight: weight;
  font-style: normal;
  text-align: center;

}

h4 {

  font-family: 'Roboto', sans-serif;
  width: 70% ;
  margin-left: 15%;
  font-size: 31px;

}

h5 {
   
  font-family: 'Kanit', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;


}



/*CODIGO DO BOTAO*/

body {
 background-image: linear-gradient(#ffc7c7)


}

body {
  background: #e0e5ec;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 10px;
  height: 10px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


/* Botão CSS */
.btn-14 {
  background: rgb(0, 0, 0);
  border: none;
  z-index: 1;
}


.btn-14:after {
  position: absolute;
  content: "";
  width: 10%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #ff0011;
  background-image: linear-gradient(315deg, #3cff00 0%, #000000 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}



.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}

.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

body {
   background: #e0e5ec;
 }
 
 button {
   margin: 20px;
 }


 /*GERAL DO BOTAO*/
 .custom-btn {
   width: 600px;
   height: 170px;
   font-size: 74px;
   color: #fff;
   border-radius: 40px;
   padding: 1px 5px;
   font-family: 'Lato', sans-serif;
   font-weight: 100;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
 }
 
 .btn-14 {
   background: rgb(255, 33, 177);
   border: none;
   z-index: 1;
 }
 .btn-14:after {
   position: absolute;
   content: "";
   width: 100%;
   height: 0;
   top: 0;
   left: 0;
   z-index: -5;
   border-radius: 40px;
   background-color: #fd9d6d;
   background-image: linear-gradient(315deg, #ff278f 0%, #ff0088 74%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   transition: all 0.3s ease;
 }
 .btn-14:hover {
   color: #000000;
 }
 .btn-14:hover:after {
   top: auto;
   bottom: 0;
   height: 100%;
 }
 .btn-14:active {
   top: 2px;
 }
 
 .btn-16:hover {
   color: #000;
 }
 .btn-16:hover:after {
   left: auto;
   right: 0;
   width: 100%;
 }
 .btn-16:active {
   top: 2px;
 }

 video {
  border-radius: 10px;
 }

 
/* Estilos para larguras maiores (desktop) */
@media screen and (min-width: 768px) {
  header, nav, main, footer {
      max-width: 960px;
      margin: 0 auto;
  }
  
  nav ul {
      display: flex;
  }

  nav li {
      margin-right: 20px;
  }
}

/* Estilos para larguras menores (dispositivos móveis) */
@media screen and (max-width: 767px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav li {
      margin: 10px 0;
  }
}

