@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');




div :id {
  width: 100px;
  height: 100px;
 display: inline-block;

 }
 
 body {
      background-image: url(img/futebol-960x540.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
 }

 header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
 }
 
 .container-a{
  background-color: rgb(255, 0, 0);
 
 
 }
 
 
 .container-b{
 background-color: rgb(0, 42, 255);
 

 }

 .nome{

  font-family: 'Archivo Black', sans-serif; 


 }

.main{
  display: inline-block;
  width: 85%;
  font-size: 25px;
  margin-bottom: 10px;
  color:#3b1400 ;

}

.me{
    margin-left: 25px;
    margin-top: 5px; 
    font-size: 30px; 
    display: inline-block; 
    width: 55%; 
    font-family: "Baskervville SC", serif;
    font-weight: 800;
    font-style: normal;
    color: #4b1801ea;
}

.custom-font {
  margin-left: 20px; 
  margin-top: 20px; 
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #ffe9e9;   ;
  
}

  .div-com-nome{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 101%;
  background-color: rgb(238, 0, 0);
  }

  .nome {
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    }

  .md {
    font-family: "Wittgenstein", serif;
    font-weight: 700;
    font-style: italic;

}


  


h1 {
   font-family: 'Archivo Black', sans-serif;
  
}

h2 {

   font-family: 'Roboto', sans-serif;
}


body {
 background-image: linear-gradient(#ffc7c7)


}

body {
  background: #e0e5ec;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


/* Botão CSS */
.btn-14 {
  background: rgb(0, 0, 0);
  border: none;
  z-index: 1;
}


.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #ff0011;
  background-image: linear-gradient(315deg, #3cff00 0%, #000000 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}



.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}

.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

body {
   background: #e0e5ec;
 }
 
 button {
   margin: 20px;
 }
 .custom-btn {
   width: 600px;
   height: 150px;
   color: #fff;
   border-radius: 40px;
   padding: 10px 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 500;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
 }
 
 .btn-14 {
   background: rgb(255, 33, 177);
   border: none;
   z-index: 1;
 }
 .btn-14:after {
   position: absolute;
   content: "";
   width: 100%;
   height: 0;
   top: 0;
   left: 0;
   z-index: -5;
   border-radius: 40px;
   background-color: #fd9d6d;
   background-image: linear-gradient(315deg, #ff278f 0%, #ff0088 74%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   transition: all 0.3s ease;
 }
 .btn-14:hover {
   color: #000000;
 }
 .btn-14:hover:after {
   top: auto;
   bottom: 0;
   height: 100%;
 }
 .btn-14:active {
   top: 2px;
 }
 
 .btn-16:hover {
   color: #000;
 }
 .btn-16:hover:after {
   left: auto;
   right: 0;
   width: 100%;
 }
 .btn-16:active {
   top: 2px;
 }

 video {

  border-radius: 10px;

 }

 
/* Estilos para larguras maiores (desktop) */
@media screen and (min-width: 768px) {
  header, nav, main, footer {
      max-width: 960px;
      margin: 0 auto;
  }
  
  nav ul {
      display: flex;
  }

  nav li {
      margin-right: 20px;
  }
}

/* Estilos para larguras menores (dispositivos móveis) */
@media screen and (max-width: 767px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav li {
      margin: 10px 0;
  }
}